.yocal-main{
    width: 100%;
    height: auto;
}
.yocal-main:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.yocal-main-container{
    min-width: 63.75rem;
    display: flex;
    flex-direction: column;
    background-image: url('/assets/main_background.jpg');
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 30px;
    align-items: top;
}



