.custom-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.custom-main-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: antiquewhite;
}

.custom-main-layout{
    display: flex;
    flex-direction: column;
}