.custom-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 63.75rem;
    margin-bottom: 2rem;
}

.custom-main-container{
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 15px;
}

.custom-main-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
}
