.main-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-section-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-section-container-header{
    display: flex;
    justify-content: space-between;
    color: white
}

.main-section-container-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.main-section-container-header-item{
    margin-right: 2rem;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
}
.main-section-container-header-item:hover{
    border-bottom: 1px solid white;
}

.main-section-container-content{
    padding-top: 80px;
}

.main-section-container-content > .header-search{
    margin-right: 0;
}

.logo{
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 0 auto 48px;
}

.logo-image{
    width: auto;
    height: 100%;
}
.search-form{
    min-width: 100%;
    margin-bottom: 20px;
}
.search-form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    align-items: center;
}

.search-form-arrange-unit{
    width: 100%;
}

.pseudo-input-label-search, .pseudo-input-label-near{
    background-color: white;
    padding: 11px;
    min-width: 100%
}
.pseudo-input-label-search{
    border-radius: 4px 0 0 4px;
    min-width: 100%
}

.pseudo-input-wrapper{
    display: flex;
    justify-content: row;
}

.find-span, .near-span {
    margin-right: 12px;
    color: #666;;
    font-weight: bold;
}
.pseudo-input-field-holder {
    width: 100%;
}
.pseudo-input-field-holder > input {
    width: 100%;
}

.search-form-middle-border{
    border-left: 1px solid #ccc;;
    width: 1px;
    height: 25px;
}

.search-form-button{
    background-color: d32323;
    padding: 11px 22px 11px;
    border-radius: 0 4px 4px 0;
}

.categories-tags{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
}

.categories-tag {
    padding: 0 12px;
    margin-right: 0.85rem;
    padding-bottom: 168px;
    font-weight: bold;
}

.categories-tag-span{
    margin-left: 7px;
}
.categories-tag-span:hover{
    text-decoration: underline;
}

.main-photo-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-photo-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-photo-place, .main-photo-credit{
    color: white;
    padding: 2px;
}
