.biz-reviews, .biz-reviews-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.biz-reviews-container{
    flex-direction: column;
    border-top: 1px solid #eeeeef;;
    margin-top: 2rem;
    padding-top: 2rem;
    align-items: flex-start;
    margin-bottom: 1.5rem;    
}
.biz-sub-title-wrapper{
    margin-bottom: 2rem;
}

.biz-sub-title{
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: bold;
}

.biz-review-search{
    display: flex;
    align-items: center;
}

.biz-reviews-layout, .biz-review-search, .biz-review-search-text{
    display: flex;
    flex-direction: row;
}

.biz-reviews-layout, .biz-review-search{
    width: 100%;
    font-size: 0.875rem;
}

.biz-reviews-layout{
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}

.biz-review-search{
    justify-content: space-between;
}

.biz-review-search-text{
    font-size: 0.875rem;
}

.biz-review-search-text div {
    white-space: nowrap;
}

.header-search-form{
    width: 100%;
    box-shadow: 0 2px 18px rgba(0,0,0,.15);
    border-radius: 4px;
}

.header-search-form-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-search-form-arrange-unit{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.pseudo-input-wrapper{
    display: flex;
    justify-content: row;
    width: 100%;
}

.header-search-form-button{
    background-color: #f43939;
    padding: 11px 14px 11px;
    border-radius: 0 4px 4px 0;
}

.biz-review-search-text {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

/* .biz-review-search-text a{
    margin: 0rem 0rem 0rem 0rem;
} */

.biz-review-search-text div{
    margin-left: 1rem;
}

.biz-review-search-text div span {
    margin-right: 0.4rem;
}

.biz-review-search-text div span:last-child {
    font-weight: bold;
    color: #00838f;
}

.biz-review-items, .biz-review-items-container {
    width: 100%;
}
