.biz-header{
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}
.biz-header-container{
    padding: 24px 40px 0;
    background-color: #fff;
    width: 100%;
}
 
.biz-header-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.biz-header-items-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

