.biz-header-down-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.biz-header-down-items-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.biz-header-down-items-ph{
    flex: 1 0 7rem;
    margin-right: 32px;
}

.biz-header-down-items-layout{
    flex: 10 0 24rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.biz-header-down-placeholder{
    flex: 1 0 30rem;
}

.bh-item-container{
    display: flex;
    flex-direction: row;
}
.bh-item{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bh-item-link{
    padding: 16px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
}

.bh-item-link span{
    font-size: 0.875rem;
    color:#2b273c;
    /* color:#3b2697; */
    white-space: nowrap;
    margin-right: 20px;
}
